asgiref==3.10.0
attrs==25.4.0
autobahn==25.10.2
Automat==25.4.16
cffi==2.0.0
channels==4.0.0
channels-redis==4.2.0
click==8.3.1
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.3
daphne==4.1.0
Django==5.0.6
gunicorn==21.2.0
h11==0.16.0
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
msgpack==1.1.2
packaging==25.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pyOpenSSL==25.3.0
python-dotenv==1.2.1
redis==5.0.4
service-identity==24.2.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
uvicorn==0.30.1
whitenoise==6.6.0
zope.interface==8.0.1
